<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <ProductForm
            :product="selectedItem"
            ref="productForm"
            @save="saveProduct"
          ></ProductForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="productItems" :fields="fields">
            <template #cell(price)="{ item }">
              ฿{{ item.price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') }}
            </template>
            <template #cell(operators)="{ item }">
              <b-button @click="editProduct(item)">แก้ไข</b-button
              ><b-button class="ml-1" variant="danger" @click="delProduct(item)"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import ProductForm from './ProductForm.vue'
import axios from 'axios'
export default {
  components: {
    ProductForm
  },
  methods: {
    saveProduct (product) {
      console.log('submit', product)
      if (product._id < 0) {
        product._id = this.productId
        this.productItems.push(product)
        this.productId++
      } else {
        const index = this.productItems.findIndex((item) => {
          return product._id === item.id
        })
        this.productItems.splice(index, 1, product)
      }
    },
    editProduct (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.productForm.show()
      })
    },
    delProduct (product) {
      if (confirm(`คุณต้องการจะลบสินค้า ${product._id} หรือไม่`)) {
        const index = this.productItems.findIndex((item) => {
          return product._id === item.id
        })
        this.productItems.splice(index, 1)
      }
    },
    getProductss () {
      axios.get('http://localhost:3000/products').then(
        function (response) {
          console.log(response)
          this.productItems = response.data
        }.bind(this)
      )
    }
  },
  data () {
    return {
      fields: [
        { key: 'id', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อสินค้า' },
        { key: 'price', label: 'ราคา' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      productItems: [
        { id: 1, name: 'IPad gen9 64G wifi', price: 10000.0 },
        { id: 2, name: 'IPad gen10 64G wifi', price: 20000.0 },
        { id: 3, name: 'IPad gen11 64G wifi', price: 30000.0 },
        { id: 4, name: 'IPad gen12 64G wifi', price: 40000.0 },
        { id: 5, name: 'IPad gen13 64G wifi', price: 50000.0 }
      ],
      productId: 6,
      selectedItem: null
    }
  },
  mounted () {
    this.getProductss()
  }
}
</script>
<style></style>
